<div class="login-img3-body">
    <div class=" container">
        <alert *ngFor="let alert of alertaUtil.alerts; let i = index" [type]="alert.type" dismissible="true" (close)="alertaUtil.closeAlert(i)">
            {{ alert?.msg }}
        </alert>
        <form class="login-form" [formGroup]="myForm" (submit)="onSignin($event)">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input formControlName="email" type="email" id="email" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input formControlName="password" type="password" id="password" class="form-control">
                </div>
                <label class="checkbox">
                <input formControlName="rememeberMe" type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!myForm.valid">Login</button>
                <button class="btn btn-info btn-lg btn-block" type="button">Signup</button>
            </div>
        </form>
        <div class="text-right">
            <div class="credits">
                <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a>                by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>
</div>