<div class="breadcrumb">
  <header class="panel-heading">
    <p class="h3 text-center">
      Os Axiomas de Zurique
    </p>
  </header>
  <div class="card">
    <div class="card-block">
      <div class="card-title">
        <p class="h3 text-center"> <b> {{axioma?.titulo}}</b></p>
      </div>
    </div>
    <div class="card-block">
      <ul>        
        <li *ngFor="let conteudo of conteudos">
          <p class="h4">{{conteudo}}</p>
        </li>        
      </ul>
      <div class="card-foot">
        <div class="col-md-offset-6 col-sm-16">
          <a class="btn btn-circle btn-lg" style="font-size: 36px;" (click)="onNextAxioma()" title="Próximo">
            <i class="fa fa-angle-double-right animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>