<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Axiomas</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="#" [routerLink]="['../privado-home']">Home</a></li>
          <li><i class="fa fa-lightbulb-o"></i><a href="#" [routerLink]="['../axioma']">Axiomas</a></li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="fundo">
          <header class="panel-heading">
            <p class="h3 text-center">
              Os Axiomas de Zurique
            </p>
          </header>
          <!--<Tree [nodes]="nodes"></Tree>-->
          <accordion>
            <accordion-group *ngFor="let axioma of axiomas" [heading]="axioma?.titulo">
              <ul class="list-group" *ngFor="let conteudo of axioma.conteudo">
                <li class="list-group-item">
                  {{ conteudo }}
                </li>
              </ul>
              <accordion>
                <accordion-group *ngFor="let axiomaSub of axioma.subAxioma" [heading]="axiomaSub.titulo">
                  <ul class="list-group" *ngFor="let conteudoSub of axiomaSub.conteudo">
                    <li class="list-group-item">
                      {{ conteudoSub }}
                    </li>
                  </ul>
                </accordion-group>
              </accordion>
            </accordion-group>
          </accordion>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="fundo">
          <header class="panel-heading">
            <p class="h3 text-center">
              Remodendações
            </p>
          </header>
          <div class="row">
            <div class="col-sm-8">
              <p class="h4 text-center">
                Os Axiomas de Zurique Livro
                <br><small>por Max Gunther</small>
              </p>
              <p class="text-justify">
                Os Axiomas de Zurique é um livro escrito por Max Gunther. O livro é constituído de 12 axiomas principais mais 16 secundários,
                que pretendem dar resposta às dúvidas com as quais o especulador pode se deparar.
                <a href="https://pt.wikipedia.org/wiki/Os_Axiomas_de_Zurique" target="blank"> Wikipédia</a>
              </p>
            </div>
            <div class="col-sm-4">
              <img alt="avatar" src="assets/img/axioma_zurique.jpg" width="116" height="160">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-8">
              <p class="h4 text-center">
                Aprenda a Operar No Mercado de Ações
                <br><small>por ALEXANDER ELDER</small>
              </p>
              <p class="text-justify">
                Que regras devem ser seguidas para que um operador obtenha sucesso? Que métodos devem ser adotados? Como o capital deve ser
                distribuído para operações no mercado?
                <a href="https://books.google.com.br/books/about/Aprenda_a_Operar_No_Mercado_de_A%C3%A7%C3%B5es.html?id=J-Kaypx4ZkEC&redir_esc=y"
                  target="blank"> Google Books</a>
              </p>
            </div>
            <div class="col-sm-4">
              <img alt="avatar" src="assets/img/aprenda a operar.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-right">
    <div class="credits">
      Rogério Cardoso
    </div>
  </div>
</section>