<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-user-md"></i> Perfil</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="#" [routerLink]="['../privado-home']">Home</a></li>
          <li><i class="fa fa-home"></i><a href="#" [routerLink]="['../perfil']">Perfil</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="profile-widget profile-widget-info">
          <div class="panel-body">
            <div class="col-lg-2 col-sm-2">
              <h4>{{profile.name}}</h4>
              <div class="follow-ava">
                <img src="{{profile.picture}}" alt="">
              </div>
              <h6>{{profile.nickname}}</h6>
            </div>
            <div class="col-lg-4 col-sm-4 follow-info">
              <p>Olá {{profile.name}}, aqui está as informações de seu perfil.</p>
              <p>{{profile.email}}</p>
              <p><i class="fa fa-twitter"></i></p>
              <h6>
                <span><i class="icon_clock_alt"></i>
                  {{data | date: 'h:mm:ss'}}
                </span>
                <span><i class="icon_calendar"></i>
                {{data | date: 'dd/mm/yyyy'}}
                </span>
              </h6>
            </div>
            <div class="col-lg-2 col-sm-6 follow-info weather-category">
              <ul>
                <li class="active">
                  <i class="fa fa-book fa-2x"> </i><br> Quantidade de Papeis
                  <br>{{totalQuantidade}}
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-sm-6 follow-info weather-category">
              <ul>
                <li class="active">
                  <i class="fa fa-money fa-2x"> </i><br> Total Aplicado
                  <br>{{totalValor | currency:'BRL':true}}
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-sm-6 follow-info weather-category">
              <ul>
                <li class="active">
                  <i class="fa fa-tachometer fa-2x"> </i><br> Investimento<br>&nbsp;
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-right">
    <div class="credits">
      Rogério Cardoso
    </div>
  </div>
</section>