
<section id="main-content">
  <section class="wrapper">
    <div class="row" *ngIf="!isAuthenticated">
      <div class="col-sm-6">
        <div class="col-sm-12 ">
          <div class="jumbotron">
            <h1>Gestão de Carteira</h1>
            <p>
              Adminsitração de sua carteira de investimentos. Adotando estratégias para operações em renda fixa e variável.
            </p>
            <hr>
            <p>
              Realize o cadastro grátis
              <a href="#" class="btn btn-info"> Cadastar</a>
              <a href="#" class="btn btn-success" [routerLink]="['login']"> Login</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!--<invet-fundamentalista></invet-fundamentalista>-->
      </div>
    </div>
  </section>
  <div class="text-right">
    <div class="credits">
      Rogério Cardoso
    </div>
  </div>
</section>