// PALETA 1
$cor-1:#FFFFCB;
$cor-2:#C9FFD5;
$cor-3:#74CEB7;
$cor-4:#2C858D;
$cor-5:#004056;

// COLOR THEME 6
$c-theme-1:#E2E4F0;
$c-theme-2:#EAEDF6;
$c-theme-3:#E4E8E9;
$c-theme-4:#E0E2EE;
$c-theme-5:#DADCE9;

$font-stack:    Helvetica, sans-serif;

// body {
//   font: 100% $font-stack;
//   background-color: $cor-2;
// }
.breadcrumb{
    height: auto;
}



.fundo {
     
     height: auto;
     border-radius: 0px;      
     position: relative; 
     margin: 0 0 19px 0; 
     overflow: hidden; 
     padding: 8px 15px; 
     margin-bottom: 20px; 
     list-style: none; 
     background-color: #ffffff; 
     border: 0px solid transparent; 
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}