<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Axiomas</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="#" [routerLink]="['../privado-home']">Home</a></li>
          <li><i class="icon_table"></i><a href="#" [routerLink]="['../tabela-magica']">Fórmula Mágica</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="breadcrumb">
          <header class="panel-heading">
            <p class="h3 text-center">
              Tabela Mágica (fundamentalista)
            </p>
          </header>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Papel</th>
                <th>P/L</th>
                <th>P/VP</th>
                <th>ROE</th>
                <th>Crescimento</th>
                <th>Divi. Yield</th>
                <th>Liqui. 2 Mes</th>
                <th>Liquiq. Corr.</th>
                <th>Margem EBIT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of papeisFundamento;">
                <th scope="row">{{p.rank}}</th>
                <td><a href="http://fundamentus.com.br/detalhes.php?papel={{p.papel}}" target="blank"> {{p.papel}}</a></td>
                <td>{{p?.fundamento.p_l}}</td>
                <td>{{p?.fundamento.p_vp}}</td>
                <td>{{p?.fundamento.roe}}</td>
                <td>{{p?.fundamento.crescimento}}</td>
                <td>{{p?.fundamento.dividentoYIELD}}</td>
                <td>{{p?.fundamento.liquidez2Meses}}</td>
                <td>{{p?.fundamento.liquidezCorrete}}</td>
                <td>{{p?.fundamento.margemEBIT}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="col-lg-4">
        <header class="panel-heading">
          <p class="h3 text-center">
            Remodendações
          </p>
        </header>
        <div class="list-group">
          <a href="http://www.fundamentus.com.br/" target="blank" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Fundamentus</h5>
            </div>
            <p class="mb-1">Site com informações fundamentalista das empresas que operam na BOVESPA.</p>
            <small class="text-muted">http://www.fundamentus.com.br/index.php.</small>
          </a>
          <a href="http://investidorjovem.com.br/ranking-de-acoes" target="blank" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Ranking de Ações</h5>
            </div>
            <p class="mb-1">A fórmula mágica de Joel Greenblatt.</p>
            <small class="text-muted">http://investidorjovem.com.br/ranking-de-acoes</small>
          </a>

        </div>
      </div>
    </div>
  </section>
  <div class="text-right">
    <div class="credits">
      Rogério Cardoso
    </div>
  </div>
</section>